.swiper-button-next, 
.swiper-button-prev {
  color: #EEF5F5;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.swiper-pagination-bullet-active {
  background-color: #EEF5F5 !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 0, 0, 0.5);
}
