@use "styles/utils";
@use "styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-topbar: 206, 37%, 21%;
    --bg-sidebar: 180, 36%, 86%;
    --bg-primary: 180, 26%, 95%;

    --primary: 0, 0%, 20%;
    --text-appbar: 211, 35%, 67%;
  }

  .dark {
    --bg-topbar: 205, 35%, 20%;
    --bg-sidebar: 205, 33%, 25%;
    --bg-primary: 208, 34%, 32%;

    --primary: 0, 0%, 100%;
    --text-appbar: 211, 35%, 67%;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[hsl(var(--bg-primary))];
    font-family: "Poppins", sans-serif;
  }

  .bg-topbar {
    @apply bg-[hsl(var(--bg-topbar))];
  }

  .bg-sidebar {
    @apply bg-[hsl(var(--bg-sidebar))];
  }

  .bg-primary {
    @apply bg-[hsl(var(--bg-primary))];
  }

  .text-primary {
    @apply text-[hsl(var(--text-primary))];
  }

  .text-appbar {
    @apply text-[hsl(var(--text-appbar))];
  }

  .btn {
    @apply rounded-md bg-slate-600 px-4 py-2 text-foreground shadow-md;
  }
}
